/*Assignment Five (02.526 Interactive Data Visualisation)*/

.node:hover{
  stroke-width: 3px !important;
  opacity: 1 !important;
}

/*.tooltip {
  display: none;
  background: white;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  width: 220px;
  z-index: 10;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}*/

body {
  font-family: 'Raleway', 'Arial';
  text-align: center; 
  margin: 0px;
  color: grey;
  /*background: grey;*/
}

h1 {
  text-align: center; 
  color: grey; 
  font-size: 39px; 
  font-family: 'Raleway', sans-serif;
  /*margin-bottom: 0;*/
  margin: 0px;
  position: relative;
}